<!--<div class = "black"></div>-->
<!--<div class = "contanier">-->
<!--  <ul>-->
<!--    <li> {{}}-->
<!--  </ul>-->
<!--</div>-->

<div *ngFor="let customer of customers">
  <div class="red" *ngIf="customer.customerStatus.name === 'FAIL'; else green ">

  </div>
</div>
<ng-template #green>
<div class = "green">
<!--  <li>FirsrName: {{customer.firstName}}</li>-->
<!--  <li>LastName: {{customer.lastName}}</li>-->
<!--  <li>customer Status: {{customer.customerStatus.name}}-->
</div>
</ng-template>
